*.tmp

# log files on cralwer
/src/js_crawler/js_log/*
/src/js_crawler/result_file/*
/log/*
/src/apify_storage/*

# tmp folder
tmpqueue/*

# Python & Django Specific
*.pyo
*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

# Pycharm
.idea

# Database
*.sqlite3

# Executer Comm Files
*.stream

# Warc folder
warc/*

# Database
Frontend/db.sqlite3

# npm
/src/js_crawler/node_modules/*
