{% extends "home/base.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.4275191015477!2d-79.18959794869406!3d43.7847411790145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da6fb7abd57f%3A0xbb656e0169887bac!2sUniversity+of+Toronto+Scarborough!5e0!3m2!1sen!2sca!4v1457124021711" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    1265 Military Trail<br>Toronto, ON M1C 1A4<br>
                </p>

                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">Email </br>Alejandro I. Paz</abbr>:
                    <a href="alejandro.paz@utoronto.ca">alejandro.paz@utoronto.ca</a>
                    <abbr title="Email"> </br>Kim Pham</abbr>:
                    <a href="alejandro.paz@utoronto.ca">kim.pham@utoronto.ca</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">Hours</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>


                <p><i class="fa fa-institution"></i>
                    <abbr title="Digital Scholarship Unit">Digital Scholarship Unit</abbr>: <a href="http://digitalscholarship.utsc.utoronto.ca/"> digitalscholarship.utsc.utoronto.ca</a>
                </p>

                <ul class="list-unstyled list-inline list-social-icons">

                    <li>
                        <a href="https://twitter.com/UTSCMediaCAT"><i class="fa fa-twitter-square fa-2x"></i>UTSCMediaCAT</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/digitalUTSC"><i class="fa fa-twitter-square fa-2x"></i>DigitalUTSC</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->
{% endblock %}

{% block myscript %}
    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
{% endblock myscript %}

