{% extends "home/base.html" %}

{% block content %}

{% if overview %}

  <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
  <div class="row mt">
    <div class="col-lg-12">
    <p>Place your content here.</p>
    </div>
  </div>

{% elif statistics %}

{% elif visualizations %}

  <head>
    <script language="javascript" type="text/javascript">
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      }
    </script>
  </head>

  <div id="{{ result }}">
      <iframe width="100%" frameborder="0" onload="resizeIframe(this);" src="/visualizations/{{ result }}_js"></iframe>
  </div>

{% elif downloads %}

  <h2> Article JSON: </h2>
  <form method="post" action="/articles/getJson">
      {% csrf_token %}
      <input type="submit" value="Get Article JSON">
  </form>

  <h2> Tweet JSON: </h2>
  <form method="post" action="/tweets/getJson">
      {% csrf_token %}
      <input type="submit" value="Get Tweet JSON">
  </form>

  <h2> Scope JSON: </h2>

  <form method="post" action="/explorer/getJson">
      {% csrf_token %}
      <input type="submit" value="Get Scope JSON">
  </form>

{% elif contact %}



{% endif %}

{% endblock %}