{% extends "home/base.html" %}
{% load staticfiles %}
{% block content %}

     <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url(https://utsc.library.utoronto.ca/sites/utsc-edit.library.utoronto.ca/files/utsc-lib.jpg);"></div>
                <div class="carousel-caption">
                    <h2>Welcome to MediaCat </h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static "home/front-page-sources/features.jpg" %});"></div>
                <div class="carousel-caption">
                    <h2>Welcome to MediaCat </h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static "home/front-page-sources/2014-02 Mediating Israel.jpg" %});"></div>
                <div class="carousel-caption">
                    <h2>Welcome to MediaCat</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

     <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to MediaCat
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Digital News Tracking and Archiving</h4>
                    </div>
                    <div class="panel-body">
                        <p>MediaCAT is open-source web-based application, with a curated search engine. It crawls designated news websites and twitter accounts for citations of or hyperlinks to a list of source sites. MediaCAT then archives all referring stories and source stories, in preparation for an advanced analysis of the relations across the digital news-scape. </p>
                          <a href="http://www.utsc.utoronto.ca/people/aipaz/2013/09/13/mediating-israel-to-a-global-public-news-translation-and-transnational-circulation/">  MediaCAT is being developed as part of an anthropological research project on the global impact of Israeli online news sites in English.</a>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free, Open Source, Interdisciplinary and Collaborative </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            MediaCAT started as a collaboration between an anthropologist, a computer scientist, and digital librarians. Its first phase of development was in Dr. Anya Tafliovich’s third year software engineering course in Fall 2014, when it was the course project. Since then, it has been entirely developed by computer science and anthropology undergraduate students from UTSC, with a small seed grant from the Vice-Principal of Research Impact Fund.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-legal"></i>License </h4>


                    </div>
                    <div class="panel-body">
                        <p>
                            This program is free software: you can redistribute it and/or modify
                            it under the terms of the GNU Affero General Public License as
                            published by the Free Software Foundation, either version 3 of the
                            License, or (at your option) any later version.

                            This program is distributed in the hope that it will be useful,
                            but WITHOUT ANY WARRANTY; without even the implied warranty of
                            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                            GNU Affero General Public License for details.
                    </p>

                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Current Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Current Features of MediaCat includes:</p>
                <ul>
                    <li> Django-based web interface</li>
                    <li><strong>Crawls both RSS Feeds and Entire Websites</strong></li>
                    <li>Crawler Implemented in Python </li>
                    <li>Crawl finds both relevant hyperlinks and mentions</li>
                    <li>Archiving extracts author, date, title, anchor text</li>
                    <li>Data stored using MySQL</li>
                    <li>Archives in WARC, PDF, and Image Files</li>
                    <li>User interface allows source and referring site entry, aliases, and tagging</li>
                </ul>

            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static "home/front-page-sources/2014-02 Mediating Israel.jpg" %}" alt="">
            </div>
        </div>


        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Conferences</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" align="center">
                        <img class="img-responsive" src="http://code4lib.org/files/logo.png">
                    </div>
                    <div class="panel-body">
                        <h4>2016 Code4Lib Conference</h4>
                        <p>Curate my web crawl: Building a multiprocessing web crawler for ethnographic research</p>
                        <a  href="https://2016.code4lib.org/Curate-my-web-crawl-Building-a-multiprocessing-web-crawler-for-ethnographic-research"  class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6" >
                <div class="panel panel-default text-center">
                    <div class="panel-heading" align="center" >
                        <img class="img-responsive"  src="{% static "home/front-page-sources/dcc.png" %}">
                    </div>
                    <div class="panel-body">
                        <h4>11th International Digital Curation Conference</h4>
                        <p>Building on Digital Projects: Managing a Digital Course Infrastructure</p>
                       <a  href="https://www.dcc.ac.uk/events/idcc16/posters"  class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" align="center" >
                        <img  class="img-responsive"  src="{% static "home/front-page-sources/archive_unleashed.PNG" %}" alt="">
                    </div>
                    <div class="panel-body">
                        <h4>Archives Unleashed: Web Archive Hackathon, 2016</h4>
                        <p>MediaCat</p>
                        <a  href="https://www.dcc.ac.uk/events/idcc16/posters"  class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

        </div>


        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Our open source project is on Github</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="https://github.com/UTMediaCAT/Voyage">View Github</a>
                </div>
            </div>
        </div>

        <hr>

{% endblock %}

{% block myscript %}

    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
  </script>
{% endblock myscript %}

