{% extends "home/base.html" %}

{% block content %}

{% if overview %}

  <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
  <div class="row mt">
    <div class="col-lg-12">
    <p>Place your content here.</p>
    </div>
  </div>

{% elif statistics %}

  <head>
    <script language="javascript" type="text/javascript">
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      }
    </script>
  </head>

  {% if statistics_articles %}

  <div id="statistics_articles_js">
      <iframe width="100%" frameborder="0" onload="resizeIframe(this);" src="/statistics/articles_js.html"></iframe>
  </div>

  {% else %}

  <div id="statistics_tweets_js">
      <iframe width="100%" frameborder="0" onload="resizeIframe(this);" src="/statistics/tweets_js.html"></iframe>
  </div>

  {% endif %}

{% elif visualizations %}

  <head>
    <script language="javascript" type="text/javascript">
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      }
    </script>
  </head>

  <div id="{{ result }}">
      <iframe width="100%" frameborder="0" onload="resizeIframe(this);" src="/visualizations/{{ result }}_js"></iframe>
  </div>

{% elif downloads %}

  <div class="showback">
    <h4><i class="fa fa-angle-right"></i> Article JSON </h4>
    <form method="post" action="/articles/getJson">
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Download"></input>
    </form>
  </div>

  <div class="showback">
    <h4><i class="fa fa-angle-right"></i> Tweet JSON </h4>
    <form method="post" action="/tweets/getJson">
      {% csrf_token %}
      <input type="submit" class="btn btn-warning" value="Download"></input>
    </form>
  </div>

  <div class="showback">
    <h4><i class="fa fa-angle-right"></i> Scope JSON </h4>
    <form method="post" action="/explorer/getJson">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Download"></input>
    </form>
  </div>

{% elif contact %}



{% endif %}

{% endblock %}