{% extends "home/base.html" %}
{% load staticfiles %}
{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Features

                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Features</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static "home/front-page-sources/features.jpg" %}" alt="">
            </div>
        </div>
        <!-- /.row -->



        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"></h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i>Libraries</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-support"></i>Features</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-calendar"></i>To Be Done</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Libraries</h4>
                        <ul>
                          <li>Django==1.7.1</li>
                          <li>newspaper</li>
                          <li>tweepy==2.3.0</li>
                            <li>python-dateutil==1.5</li>
                            <li>pyyaml==3.11</li>
                            <li>django-suit==0.2.11</li>
                            <li>pytz==2015.4</li>
                            <li>django-taggit==0.16.2</li>
                            <li>schedule==0.3.2</li>
                            <li>cssselect==0.9.1</li>
                            <li>urlnorm==1.1.3</li>
                            <li>readability-lxml==0.6.1</li>
                            <li>mysqlclient==1.3.7</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Features</h4>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>To Be Done</h4>

                    </div>

                </div>

            </div>
        </div>


        <!-- /.row -->

        <hr>

{% endblock %}