{% extends "admin/base_site.html" %}

{% load explorer_tags %}

{% block content %}
    <h2> Article JSON: </h2>
    <form method="post" action="/articles/getJson">
        {% csrf_token %}
        <input type="submit" value="Get Article JSON">
    </form>

    <h2> Tweet JSON: </h2>
    <form method="post" action="/tweets/getJson">
        {% csrf_token %}
        <input type="submit" value="Get Tweet JSON">
    </form>

    <h2> Scope JSON: </h2>

    <form method="post" action="/explorer/getJson">
        {% csrf_token %}
        <input type="submit" value="Get Scope JSON">
    </form>
{% endblock %}