{% load staticfiles %}

<html>
    <head>
        <link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet" />
        <link type="text/css" href="{% static "css/Hypertree.css" %}" rel="stylesheet" />

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{% static "js/jit.js" %}"></script>
        <script type="text/javascript">
            var labelType, useGradients, nativeTextSupport, animate;

            (function() {
              var ua = navigator.userAgent,
                  iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
                  typeOfCanvas = typeof HTMLCanvasElement,
                  nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
                  textSupport = nativeCanvasSupport 
                    && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
              //I'm setting this based on the fact that ExCanvas provides text support for IE
              //and that as of today iPhone/iPad current text support is lame
              labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
              nativeTextSupport = labelType == 'Native';
              useGradients = nativeCanvasSupport;
              animate = !(iStuff || !nativeCanvasSupport);
            })();

            var Log = {
              elem: false,
              write: function(text){
                if (!this.elem) 
                  this.elem = document.getElementById('log');
                this.elem.innerHTML = text;
                this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
              }
            };


            function init(){
                //init data
                //By defining properties with the dollar sign ($)
                //in nodes and edges we can override the global configuration
                //properties for nodes and edges.
                //In this case we use "$type" and "$dim" properties to override
                //the type of the node to be plotted and its dimension.
                var json = {{ data|safe }}
                //end
                //init Hypertree
                var ht = new $jit.Hypertree({
                    //id of the visualization container
                    injectInto: 'infovis',
                    //By setting overridable=true,
                    //Node and Edge global properties can be
                    //overriden for each node/edge.
                    Node: {
                        overridable: true,
                        'transform': false,
                        color: "#f00"
                    },
                    
                    Edge: {
                        overridable: true,
                        color: "#088"
                    },
                    //calculate nodes offset
                    offset: 0.2,
                    //Change the animation transition type
                    transition: $jit.Trans.Back.easeOut,
                    //animation duration (in milliseconds)
                    duration:1000,
                    
                    //This method is called right before plotting an
                    //edge. This method is useful for adding individual
                    //styles to edges.
                    onBeforePlotLine: function(adj){
                        //Set random lineWidth for edges.
                        if (!adj.data.$lineWidth) 
                            adj.data.$lineWidth = 2;
                    },
                    
                    onBeforeCompute: function(node){
                        Log.write("centering");
                    },
                    //Attach event handlers on label creation.
                    onCreateLabel: function(domElement, node){
                        domElement.innerHTML = node.name;
                        domElement.style.cursor = "pointer";
                        domElement.onclick = function () {
                            ht.onClick(node.id, { 
                                hideLabels: false,
                                onComplete: function() {
                                  ht.controller.onComplete();
                                }
                            });
                        };
                    },
                    //This method is called when moving/placing a label.
                    //You can add some positioning offsets to the labels here.
                    onPlaceLabel: function(domElement, node){
                        var width = domElement.offsetWidth;
                        var intX = parseInt(domElement.style.left);
                        intX -= width / 2;
                        domElement.style.left = intX + 'px';
                    },
                    
                    onComplete: function(){
                        Log.write("done");

                        //Make the relations list shown in the right column.
                        var node = ht.graph.getClosestNodeToOrigin("current");
                        var html = "<h4>" + node.name + "</h4><b>Connections:</b>";
                        html += "<ul>";
                        node.eachAdjacency(function(adj){
                            var child = adj.nodeTo;
                            html += "<li>" + child.name + "</li>";
                        });
                        html += "</ul>";
                        $jit.id('inner-details').innerHTML = html;
                    }
                });
                //load JSON graph.
                ht.loadJSON(json, 2);
                //compute positions and plot
                ht.refresh();
                //end
                ht.controller.onBeforeCompute(ht.graph.getNode(ht.root));
                ht.controller.onComplete();
            }
        </script>
    </head>

    <body onload="init();">
        <div id="container">

        <div id="left-container">

            <div class="text">                
                <h4>
                Article - Weighted    
                </h4> 

                This graph has a node for all Monitoring Sites(Blue) connected with the
                Foreign Sites(Red) and Keywords(Green) that were used in them. The size of the node is determined
                by the number of times that Keyword/Foreign Site was used in the Monitoring Site. 
                You can also choose a particular 
                Monitoring Site using the drop down list below.<br />

                <h4>Monitoring Site</h4>
                <form method="post" action="/visualizations/article_weightedtree_js">
                    {% csrf_token %}
                    <select name="msite" onchange="this.form.submit()">
                        <option type="submit" value="NONE">Select</option>
                    {% for site in msites %}
                        <option type="submit" value="{{ site.name }}">{{ site.name }}</option>
                    {% endfor %}
                    </select>
                </form>

                <h4>Instructions</h4>
                Clicking on a node should move the tree and center that node.<br /><br />
                The centered node's children are displayed in a relations list in the right column.
            </div>

            <div id="id-list"></div>
                            
        </div>

        <div id="center-container">
            <div id="infovis"></div>    
        </div>

        <div id="right-container">

            <div id="inner-details"></div>

        </div>

        <div id="log"></div>
        </div>
    </body>
</html>