{% load staticfiles %}

<html>
    <head>
        <link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet" />
        <link type="text/css" href="{% static "css/RGraph.css" %}" rel="stylesheet" />

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{% static "js/jit.js" %}"></script>
        <script type="text/javascript">
            var labelType, useGradients, nativeTextSupport, animate;

            (function() {
              var ua = navigator.userAgent,
                  iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
                  typeOfCanvas = typeof HTMLCanvasElement,
                  nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
                  textSupport = nativeCanvasSupport 
                    && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
              //I'm setting this based on the fact that ExCanvas provides text support for IE
              //and that as of today iPhone/iPad current text support is lame
              labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
              nativeTextSupport = labelType == 'Native';
              useGradients = nativeCanvasSupport;
              animate = !(iStuff || !nativeCanvasSupport);
            })();

            var Log = {
              elem: false,
              write: function(text){
                if (!this.elem) 
                  this.elem = document.getElementById('log');
                this.elem.innerHTML = text;
                this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
              }
            };


            function init(){
                //init data
                var json = {{ data|safe }}
                //end
                
                //init RGraph
                var rgraph = new $jit.RGraph({
                    //Where to append the visualization
                    injectInto: 'infovis',
                    //Optional: create a background canvas that plots
                    //concentric circles.
                    background: {
                      CanvasStyles: {
                        strokeStyle: '#555'
                      }
                    },
                    //Add navigation capabilities:
                    //zooming by scrolling and panning.
                    Navigation: {
                      enable: true,
                      panning: true,
                      zooming: 10
                    },
                    //Set Node and Edge styles.
                    Node: {
                        color: '#ddeeff'
                    },
                    
                    Edge: {
                      color: '#C17878',
                      lineWidth:1.5
                    },

                    onBeforeCompute: function(node){
                        Log.write("centering " + node.name + "...");
                        //Add the relation list in the right column.
                        //This list is taken from the data property of each JSON node.
                        $jit.id('inner-details').innerHTML = node.data.relation;
                    },
                    
                    //Add the name of the node in the correponding label
                    //and a click handler to move the graph.
                    //This method is called once, on label creation.
                    onCreateLabel: function(domElement, node){
                        domElement.innerHTML = node.name;
                        domElement.onclick = function(){
                            rgraph.onClick(node.id, {
                                onComplete: function() {
                                    Log.write("done");
                                }
                            });
                        };
                    },
                    //Change some label dom properties.
                    //This method is called each time a label is plotted.
                    onPlaceLabel: function(domElement, node){
                        var style = domElement.style;
                        style.display = '';
                        style.cursor = 'pointer';

                        if (node._depth <= 1) {
                            style.fontSize = "0.8em";
                            style.color = "#ccc";
                        
                        } else if(node._depth == 2){
                            style.fontSize = "0.7em";
                            style.color = "#494949";
                        
                        } else {
                            style.display = 'none';
                        }

                        var left = parseInt(style.left);
                        var w = domElement.offsetWidth;
                        style.left = (left - w / 2) + 'px';
                    }
                });
                //load JSON data
                rgraph.loadJSON(json);
                //trigger small animation
                rgraph.graph.eachNode(function(n) {
                  var pos = n.getPos();
                  pos.setc(-200, -200);
                });
                rgraph.compute('end');
                rgraph.fx.animate({
                  modes:['polar'],
                  duration: 2000
                });
                //end
                //append information about the root relations in the right column
                $jit.id('inner-details').innerHTML = rgraph.graph.getNode(rgraph.root).data.relation;
            }
        </script>
    </head>

    <body onload="init();">
        <div id="container">

        <div id="left-container">



        <div class="text">
            <h4>
            Article RGraph    
            </h4> 

            <b>Click</b> on a node to move the tree and center that node.<br /><br />
            The centered node's children are displayed in a relations list in the right column.<br /><br />
            <b>Use the mouse wheel</b> to zoom and <b>drag and drop the canvas</b> to pan.
                    
        </div>

        <div id="id-list"></div>

        <div style="text-align:center;"></div>            
        </div>

        <div id="center-container">
            <div id="infovis"></div>    
        </div>

        <div id="right-container">
            <div id="inner-details"></div>
        </div>

        <div id="log"></div>
        </div>
    </body>
</html>