{% extends "admin/base.html" %}
{% load explorer_tags %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name" align="center"><a href="{% url 'admin:index' %}">Voyage</a></h1>
{% endblock %}

{# Footer links (left side) #}
{% block footer_links %}
    <a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>
{% endblock %}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
    {{ block.super }}
    <div class="header-content" align="center">
        <!-- First icon column -->
        <div class="header-column icon">
            <i class="icon-refresh"></i>
        </div>

        <form method="post" action="{{ request.get_full_path }}">
            {% csrf_token %}
            <input type="submit" value="Refresh">
        </form>
    </div>
    <div class="header-content" align="center">
        <!-- First icon column -->
        <div class="header-column icon">
            <i class="icon-globe"></i>
        </div>

        <div class="header-column" style="margin-right: 20px">
            {% get_article_run_status %}
        </div>

        <form method="post" action="/explorer/">
            {% csrf_token %}
            <input type="submit" value="Run" name="acommand">
            <input type="submit" value="Pause" name="acommand">
            <input type="submit" value="{% stop_button_article_explorer %}" name="acommand">
        </form>
    </div>
    <div class="header-content" align="center">
        <!-- First icon column -->
        <div class="header-column icon">
            <i class="icon-plane"></i>
        </div>

        <div class="header-column" style="margin-right: 20px">
            {% get_twitter_run_status %}
        </div>

        <form method="post" action="/explorer/">
            {% csrf_token %}
            <input type="submit" value="Run" name="tcommand">
            <input type="submit" value="Pause" name="tcommand">
            <input type="submit" value="{% stop_button_twitter_explorer %}" name="tcommand">
        </form>
    </div>
{% endblock %}



{# Footer branding name (center) #}
{% block footer_branding %}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
  Developed by<br>Team 4 - ACME
{% endblock %}